<div class="login-page">
    <div class="form">
      <form class="login-form" [formGroup]="formdata" (ngSubmit) = "onClickSubmit()">
        <input type="text" placeholder="Nombre Completo" formControlName="nombre"/>
        <input type="text" placeholder="Rut" formControlName="rut_cliente"/>
        <input type="text" placeholder="Numero de contacto" formControlName="telefono"/>
        <input type="password" placeholder="Contraseña" formControlName="contrasena"/>
        <input type="submit" [disabled] ="!formdata.valid" class="forsubmit" value="Ingresar">
      </form>
      <p class="message">¿Ya tienes una cuenta? <a routerLink="/app-usuario">Ingresa</a></p>
    </div>
  </div>