<app-barra></app-barra>
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        El emporio agrícola es un almacen donde se venden las más exquisitas
        frutas y asdasdhajksh
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)='onClick(1)'>Ingresar A la fila</button>
      <button mat-button (click)='onClickFilas(1)'>Fila</button>
    </mat-card-actions>
</mat-card>
  
<mat-card class="example-card2">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        El emporio agrícola es un almacen donde se venden las más exquisitas
        frutas y asdasdhajksh
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)='onClick(2)'>Ingresar A la fila</button>
      <button mat-button mat-button (click)='onClickFilas(2)'>Fila</button>
    </mat-card-actions>
</mat-card>




